.model-card {
  background: #fff;
  border-radius: 40px 0 40px 0;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 250px;
}

.card-image {
  display: block;
  width: 100%;
  object-fit: cover;
  max-height: 80%;
}

.card-avatar {
  position: absolute;
  top: 6%;
  left: 6%;
  border-radius: 50%;
  border: 3px solid #fff;
}

.card-like {
  position: absolute;
  top: 6%;
  right: 6%;
  border-radius: 50%;
  border: 3px solid #fff;
}

.card-title {
  margin: auto;
  text-align: center;
  font-size: 1rem;
  color: #000;
}