:root {
  --main-blue:      #196EF0;
  --dark-blue:      #0C2354;
  --main-background:#D7DEE7;
  --white:          #FFFFFF;
  --foreground:     #1f1f1f;
  --text:           #000E1A;
}

body {
  background-color: var(--main-background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
