.header {
  width: 100%;
  background-color: var(--main-blue);
  color: var(--white);
  padding: 1rem 0;
}

.header-content {
  max-width: var(--content-width);
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.header-content > * {
  flex: 1;
}

.header-content .left {
  justify-content: flex-start;
  margin-left: 20px;;
  display: flex;
  align-items: center;
}

.header-content .center {
  justify-content: center;
  display: flex;
  align-items: center;
}

.header-content .right {
  justify-content: flex-end;
  display: flex;
  align-items: center;
}